<div class="container">
  <h1>Game Results</h1>
  <p><strong>Word:</strong> <%= params[:word] %></p>
  <p><strong>Message:</strong> <%= @message %></p>
  <p><strong>Score:</strong> <%= @score %></p>
  <%= link_to "Play again", new_path %>
</div>
